#!/bin/bash
set -euo pipefail

apt-get update
apt-get install -y curl ripgrep

# Install Pochi
{% if version %}
curl -fsSL https://getpochi.com/install.sh | bash -s "pochi-{{ version }}"
{% else %}
curl -fsSL https://getpochi.com/install.sh | bash
{% endif %}

ln -s ~/.pochi/bin/pochi /usr/local/bin/pochi

pochi --version